<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consula de Visitas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>Lista de Visitas</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3"><a th:href="@{/visitas/new}" class="btn_crear">Agregar estudiante</a></div>
  </div>
<table class="table">
    <thead class="table-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Propietario</th>
      <th scope="col">Marca</th>
      <th scope="col">Valor</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><a class="btn_primary">Actualizar</a><a class="btn_danger">Borrar</a></td>
    </tr>
  </tbody>
</table>
</body>
</html>